@import url('https://fonts.googleapis.com/css?family=Sail|Work+Sans:300,400&display=swap');

.title {
  font-size: 6rem;
}

.subtitle {
  font-size: 4rem;
}

.main-logo {
  height: 36rem;
}

.description {
  font-size: 1.2rem,
}

.profile {
  text-decoration: underline;
}

.about {
  font-size: 2rem;
}

.profile:hover {
  text-decoration: none !important;
  color: black !important;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .main-logo {
    height: 14rem;
  }

  .description {
    font-size: 1rem,
  }

  .about {
    font-size: 1.4rem !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
